* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  cursor: none;
}

.cat {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 40, 40);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 10;
  overflow: hidden;
}
.menu div {
  font-size: 2rem;
}
.menu div p {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.menu div p::after {
  content: "";
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
  width: 0%;
  height: 4px;
  background-color: rgb(0, 180, 140);
}
.menu div p:hover::after {
  width: 103%;
}
.menu h1 {
  font-size: 2.7rem;
  margin-top: 1rem;
}

.author {
  margin-bottom: 1rem;
}

.first-li {
  top: -10%;
  left: 30%;
}

.second-li {
  top: 55%;
  left: -10%;
}

.third-li {
  top: 61%;
  left: 110%;
}

.fourth-li {
  top: 110%;
  left: 40%;
}

@media screen and (max-width: 700px) {
  .menu h1 {
    font-size: 2rem;
  }
  .menu div {
    font-size: 1.5rem;
  }
}
.cursor {
  z-index: 15;
  position: fixed;
  background: #2696E8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  -webkit-box-shadow: 0 0 20px #2696E8, 0 0 60px #2696E8, 0 0 100px #2696E8;
          box-shadow: 0 0 20px #2696E8, 0 0 60px #2696E8, 0 0 100px #2696E8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: colors 5s infinite;
          animation: colors 5s infinite;
}

@-webkit-keyframes colors {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes colors {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
.cursor::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.2;
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
}

.cat-room4 {
  background-color: rgb(149, 202, 252);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cable, .light-box, .light-bulb, .floor, .head, .ear1, .ear2, .eye1, .eye2, .mouth, .body1, .body2, .foot1, .foot2, .light-switch {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cable {
  width: 3px;
  height: 60px;
  background-color: black;
}

.light-box {
  top: 60px;
  width: 70px;
  height: 35px;
  background-color: black;
  border-radius: 12rem 12rem 0 0;
}

.light-bulb {
  top: 95px;
  background-color: yellow;
  width: 30px;
  height: 15px;
  border-radius: 0 0 12rem 12rem;
}

.floor {
  width: 100%;
  background-color: rgb(89, 30, 30);
  height: 35%;
  bottom: 0;
}

.head {
  width: 100px;
  height: 100px;
  top: 50%;
  background-color: black;
  border-radius: 50%;
}

.ear1, .ear2 {
  top: -22%;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid black;
}

.ear1 {
  -webkit-transform: translate(-90%);
          transform: translate(-90%);
}

.ear2 {
  -webkit-transform: translate(-10%);
          transform: translate(-10%);
}

.eye1, .eye2 {
  height: 40px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  top: 52%;
}

.eye1 {
  -webkit-transform: translate(-120%);
          transform: translate(-120%);
}

.eye2 {
  -webkit-transform: translate(30%);
          transform: translate(30%);
}

.eye1::after, .eye2::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.mouth {
  top: 70%;
  width: 30px;
  height: 15px;
  border-radius: 0 0 12rem 12rem;
  background-color: red;
}

.body1 {
  width: 110px;
  height: 140px;
  background-color: black;
  top: 70%;
  border-radius: 50%;
}

.body2 {
  width: 100px;
  height: 30px;
  background-color: black;
  top: 180%;
  border-radius: 50%;
}

.foot1, .foot2 {
  top: 192%;
  width: 20px;
  height: 10px;
  border-radius: 12rem 12rem 0 0;
  background-color: white;
}

.foot1 {
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
}

.foot2 {
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.light-switch {
  bottom: 20px;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: none;
}
.light-switch:hover {
  color: black;
  background-color: white;
}

.main-shadow {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation: eyes 5s infinite;
          animation: eyes 5s infinite;
}

@-webkit-keyframes eyes {
  40% {
    height: 40px;
  }
  50% {
    height: 0;
  }
  60% {
    height: 40px;
  }
}

@keyframes eyes {
  40% {
    height: 40px;
  }
  50% {
    height: 0;
  }
  60% {
    height: 40px;
  }
}
.cat-room3 {
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 1000px;
}

.kitty-image {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 500px;
  height: 700px;
}
.kitty-image:hover {
  bottom: -70px;
}

.eye1-moving, .eye2-moving {
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 5%;
  left: 50%;
}

.eye1-moving {
  bottom: 515px;
}

.eye2-moving {
  bottom: 540px;
}

.kitty-image:hover ~ .eye1-moving {
  bottom: 445px;
}

.kitty-image:hover ~ .eye2-moving {
  bottom: 470px;
}

.moving-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../photo/cosmic.png");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1400px) {
  .kitty-image {
    width: 393px;
    height: 550px;
  }
  .eye1-moving {
    bottom: 395px;
  }
  .eye2-moving {
    bottom: 420px;
  }
  .kitty-image:hover ~ .eye1-moving {
    bottom: 325px;
  }
  .kitty-image:hover ~ .eye2-moving {
    bottom: 350px;
  }
}
@media screen and (max-width: 1000px) {
  .kitty-image {
    width: 321px;
    height: 450px;
  }
  .eye1-moving, .eye2-moving {
    height: 4%;
  }
  .eye1-moving {
    bottom: 325px;
  }
  .eye2-moving {
    bottom: 345px;
  }
  .kitty-image:hover ~ .eye1-moving {
    bottom: 325px;
  }
  .kitty-image:hover ~ .eye2-moving {
    bottom: 350px;
  }
}
@media screen and (max-width: 600px) {
  .kitty-image {
    width: 250px;
    height: 350px;
  }
  .eye1-moving, .eye2-moving {
    height: 3%;
  }
  .eye1-moving {
    bottom: 250px;
  }
  .eye2-moving {
    bottom: 267px;
  }
  .kitty-image:hover ~ .eye1-moving {
    bottom: 180px;
  }
  .kitty-image:hover ~ .eye2-moving {
    bottom: 197px;
  }
}