.cat-room3{
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 1000px;
}

.kitty-image{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    transition: .5s;
    width: 500px;
    height: 700px;

    &:hover{
        bottom: -70px;
    }
}

.eye1-moving, .eye2-moving{
    position: absolute;
    transition: .5s;
    height: 5%;
    left: 50%;
}

.eye1-moving{
    bottom: 515px;
}

.eye2-moving{
    bottom: 540px;
}

.kitty-image:hover ~ .eye1-moving{
    bottom: 445px;
}

.kitty-image:hover ~ .eye2-moving{
    bottom: 470px;
}

.moving-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../photo/cosmic.png');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:1400px) {
    .kitty-image{
        width: 393px;
        height: 550px;
    }

    .eye1-moving{
        bottom: 395px;
    }

    .eye2-moving{
        bottom: 420px;
    }

    .kitty-image:hover ~ .eye1-moving{
        bottom: 325px;
    }
    
    .kitty-image:hover ~ .eye2-moving{
        bottom: 350px;
    }
}

@media screen and (max-width:1000px) {
    .kitty-image{
        width: 321px;
        height: 450px;
    }

    .eye1-moving, .eye2-moving{
        height: 4%;
    }

    .eye1-moving{
        bottom: 325px;
    }

    .eye2-moving{
        bottom: 345px;
    }

    .kitty-image:hover ~ .eye1-moving{
        bottom: 325px;
    }
    
    .kitty-image:hover ~ .eye2-moving{
        bottom: 350px;
    }
}

@media screen and (max-width:600px) {
    .kitty-image{
        width: 250px;
        height: 350px;
    }

    .eye1-moving, .eye2-moving{
        height: 3%;
    }

    .eye1-moving{
        bottom: 250px;
    }

    .eye2-moving{
        bottom: 267px;
    }

    .kitty-image:hover ~ .eye1-moving{
        bottom: 180px;
    }
    
    .kitty-image:hover ~ .eye2-moving{
        bottom: 197px;
    }
}