.cat-room4{
    background-color: rgb(149, 202, 252);
    display: flex;
    flex-direction: column;
}

.cable, .light-box, .light-bulb, .floor, .head, .ear1, .ear2, .eye1, .eye2, .mouth, .body1, .body2, .foot1, .foot2, .light-switch{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.cable{
    width: 3px;
    height: 60px;
    background-color: black;
}

.light-box{
    top:60px;
    width: 70px;
    height: 35px;
    background-color: black;
    border-radius: 12rem 12rem 0 0;
}

.light-bulb{
    top: 95px;
    background-color: yellow;
    width: 30px;
    height: 15px;
    border-radius: 0 0 12rem 12rem;
}

.floor{
    width: 100%;
    background-color: rgb(89, 30, 30);
    height: 35%;
    bottom: 0;
}

.head{
    width: 100px;
    height: 100px;
    top:50%;
    background-color: black;
    border-radius: 50%;
}

.ear1, .ear2{
    top: -22%;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid black;
}

.ear1{
    transform: translate(-90%);
}

.ear2{
    transform: translate(-10%);
}

.eye1, .eye2{
    height: 40px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    top: 52%;
}

.eye1{
    transform: translate(-120%);
}

.eye2{
    transform: translate(30%);
}

.eye1::after, .eye2::after{
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

.mouth{
    top:70%;
    width: 30px;
    height: 15px;
    border-radius: 0 0 12rem 12rem;
    background-color: red;
}

.body1{
    width: 110px;
    height: 140px;
    background-color: black;
    top: 70%;
    border-radius: 50%;
}

.body2{
    width: 100px;
    height: 30px;
    background-color: black;
    top: 180%;
    border-radius: 50%;
}

.foot1, .foot2{
    top: 192%;
    width: 20px;
    height: 10px;
    border-radius: 12rem 12rem 0 0;
    background-color: white;
}

.foot1{
    transform: translate(-150%);
}

.foot2{
    transform: translate(50%);
}

.light-switch{
    bottom: 20px;
    width: 200px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    transition: .4s;
    cursor: none;

    &:hover{
        color: black;
        background-color: white;
    }
}

.main-shadow{
    transition: 0.7s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0);
}

.animated{
    animation: eyes 5s infinite;
}

@keyframes eyes{
    40%{height: 40px}
    50%{height: 0}
    60%{height: 40px}
}