*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    cursor: none;
}

.cat, .menu{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.cat{
    z-index: -10;
}

@import 'menu';
@import 'cursor';
@import 'cat1';
@import 'cat2';
@import 'cat3';